/* Adaptable (Responsivo)*/
/* Media Query*/
/*
    *screen         <--a que medio se debe aplicar
    *max-width      <--aplicando a dispositvos con maximo de ancho en pixeles
    *display: none  <-- se oculta
*/

//cell phone 320px x 932px
@media screen and (min-width: 320px) and (max-width: 932px) {
    .navbar-brand{
        display:flex;
        justify-content: center;
    }
    .social-icons{
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
    }
}
//tablet/ipad 1024px x 768px
@media screen and (min-width: 1024px)  {
    .navbar-brand{
        display:flex;
        justify-content:flex-end;
    }
    .social-icons{
        display:flex;
        justify-content: flex-end;
    }
}
