///******Definicion-colores******///
$color-boton-letra: rgb(255, 255, 255);
//item, 
$color-background-base:rgb(237, 237, 237);
//boton
$color-background-1: rgb(217, 48, 65);
//navbar
$color-background-2: rgb(14, 127, 226);

///******footer-colores******///
$color-footer-letraSecciones:rgb(35, 101, 194);
$color-footer-letraInformacion:rgb(255, 255, 255);
